*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url(thmb3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0.2em 0.2em white;
}
h2{
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
}
.comingsoon{
    min-height:  100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.countdown{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.day,.hour,.min,.sec{
    font-size: 3rem;
    padding: 3rem;
}
.waiting{
    padding: 3rem;
    height: 50vh;
}